body {
    background-color: #ffffff;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
    margin: 10px;
}

a:link, a:visited {
    color: #045491;
    text-decoration: none;
}

a:link:hover, a:visited:hover  {
    color: #045491;
    text-decoration : underline;
}

#top {
    position: relative;
    background-color: #036fab;
    color: #ffffff;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

#content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

#top a:link, #top a:visited {
    color: #ffffff;
    font-weight : bold;
    text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
    color: #dddddd;
    font-weight : bold;
    text-decoration : underline;
}
